* {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    position:relative;
}

.topo {
    background-color: rgb(0, 0, 0);
    position: relative;
    height: 150px;
    padding: 0;
    min-width: 1400px;;
}

.topo img {
    width: 150px;
    height: 150px;
    position: absolute;
    left: 20%;
    top: 5%;
}

.topo p {
    position: absolute;
    width:50%;
    top: 30%;
    right: 20%;
    text-align: right;
}

.topo a {
    margin: auto 2%;
    color: white;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    font-family: "Lumanosimo", serif;
}

.secao-inicio {
    height: 300px;
    padding:5%;
    margin: 0 auto;
    min-width: 1400px;
    text-align: center;
}

.secao-inicio h2 {
    text-align: center;
    font-size: 24px;
    font-family: "Lumanosimo", serif;
}

.secao-inicio p {
    width: 60%;
    text-align: Center;
    line-height: 35px;
    margin: 2% auto;
    font-size: 20px;
    border-top: 2px solid white;
    border-bottom: 2px solid white;
    font-family: "Lumanosimo", serif;
}

.secao-venda{
    min-width: 1400px;
    height:40vh;
    padding:  4% 5%;
    margin: 0 auto ;
    display: flex;
}


.card-venda {
    margin:0px 10px;
    width: 50%;
    height: 100%;
    border: 1px solid #5d5d5d;
    position: relative;
    box-shadow: 0px 0px 5px 1px #818181;
    border-radius: 15px;
    padding: 0;
    display: flex;
    background-color: black;
}

.card-venda img {
    position: absolute;
    width: 100%;
    height: 60%;
    top:0%;
    border-radius: 15px 15px 0px 0px;
}

.card-venda h3 {
    width: 100%;
    position: absolute;
    top: 80%;
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: arial;
    letter-spacing: 1px;
}

span {
    font-weight: bold;
}

.secao-divisao {
    min-width: 1400px;
    padding: 80px 0;
    background-image: url("banner2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
}

.secao-divisao div {
    min-width: 1600px;
    color:rgba(0, 0, 0, 0.785);
    position: relative;
    padding: 2%;
    height: 65vh;
}

.secao-divisao h1 {
    width: 800px;
    text-align: center;
    margin: auto;
    font-weight: 500;
    font-family: "Lumanosimo", serif;
    font-size: 90px;
    padding-top:80px;
}

.secao-divisao h2 {
    text-align: center;
    padding: 2px;
    letter-spacing: 5px;
    margin: 15px auto;
    font-size: 45px;
    background-color: white;
    width: 250px;
    color: #606060;
    font-family: "Lumanosimo", serif;
}

.lista-contato {
    min-width: 1400px;
    height: 72vh;
    background-image: url('banner2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.lista-contato div {
    min-width: 1600px;
    background-color:rgba(0, 0, 0, 0.785);
    position: relative;
    padding: 2%;
    height: 67vh;
}

.lista-contato h3 {
    font-weight: bold;
    font-size: 35px;
    text-align: left;
    font-family: Arial;
}

.lista-contato img {
    width: 60px;
    height: 60px;
}

.lista-contato .img-wpp {
    position: absolute;
    top:28%;
    right: 45%;
    bottom: 72%;
    left: 55%
}

.lista-contato .numero {
    position: absolute;
    width: 25%;
    top: 31%;
    bottom: 73%;
    left:60%;
    right: 32%;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.lista-contato .insta {
    position: absolute;
    top: 56%;
    bottom: 48%;
    left:60%;
    right: 26%;
    font-size: 20px;
    color: white;
    text-decoration: none;
}

.lista-contato .img-insta {
    position: absolute;
    top: 53%;
    bottom: 47%;
    left:55%;
    right: 45%;
}

.lista-contato iframe {
    position: absolute;
    left: 2%;
    top: 20%;
    width: 45%;
    height: 55%;
}

.rodape {
    padding: 20px 0;
    line-height: 34px;
    letter-spacing: 2px;
    font-weight: 600;
    text-align: center;
    background-color: #000000;
    min-width: 1400px;
}

.rodape span {
    color: gold;
}

